<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="articleDetail_contents">
			<div th:object="${article}">
				<h1>記事詳細画面</h1>
				<h2 th:text="*{title}">title</h2>
				<br />
				<p th:text="*{content}">content</p>
				<br /><br />

				<p th:text="'記事ID : ' + *{id}">id</p>
				<a th:href="@{'/articleEdit/' + *{id}}">
					<button type="submit">編集</button>
				</a>
			</div>
		</div>
	</body>
</html>