<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="articleDetail_contents">
			<h1>記事詳細画面</h1>
			<form method="post" th:action="@{/articleDetail}" th:object="${article}">
				<h2 th:field="*{title}">title</h2>
				<br />
				<p th:text="*{content}">content</p>
				<br /><br />

				<p th:text="*{id}">id</p>
			</form>
			<form method="post" action="@{'/articleEdit/' + ${article.id}}">
				<button type="submit">編集</button>
			</form>
		</div>
	</body>
</html>