<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="article_new_contents">
			<div class="row">
				<div class="col-sm-5">
					<h2 class="page-header">記事投稿画面</h2>
					<form method="post" th:action="@{/articleNew}" th:object="${articleForm}">
						<table class="table table-bordered table-hover">
							<tr>
								<th class="info col-sm-2">ユーザーID</th>
								<td class="col-sm-3">
									<div class="form-group">
										<input class="form-control" type="text" th:field="*{userId}" readonly="readonly"></input>
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">タイトル</th>
								<td class="col-sm-3">
									<div class="form-group">
										<input class="form-control" type="text" th:field="*{title}" />
										<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">本文</th>
								<td class="col-sm-3">
									<div class="form-group">
										<textarea class="form-control" rows="30" th:field="*{content}"></textarea>
										<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content error</span>
									</div>
								</td>
							</tr>
						</table>
						<button class="btn btn-primary" type="submit">新規投稿</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>