<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="home_contents">
			<h1>記事一覧</h1>
			<ol>
				<li th:each="article : ${articles}">
					<h3>
						<a th:text="${article.title}" th:href="@{'/articleDetail/' + ${article.id}}">Title</a><br />
					</h3>
				</li>
			</ol>
			<label th:text="'総記事件数 : ' + ${count} + '件'"></label><br /><br />
		</div>
	</body>
</html>