<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="userDetail_contents">
			<div class="row">
				<div class="col-sm-10">
					<h2 class="page-header">ユーザー詳細</h2>
					<form method="post" enctype="multipart/form-data" th:action="@{/userDetail}" th:object="${signupForm}">
						<table class="table table-bordered table-hover">
							<tr>
								<th class="info col-sm-2">ユーザーID</th>
								<td class="col-sm-8">
									<div class="form-group">
										<input class="form-control" type="text" th:field="*{userId}" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">パスワード</th>
								<td class="col-sm-8">
									<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
										<input class="form-control" type="text" th:field="*{password}" />
										<br />
										<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">ユーザー名</th>
								<td class="col-sm-8">
									<div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
										<input class="form-control" type="text" th:field="*{userName}" />
										<br />
										<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">性別</th>
								<td class="col-sm-8">
									<div class="form-group" th:classappend="${#fields.hasErrors('gender')} ? 'has-error'">
										<div th:each="item : ${radioGender}">
											<input type="radio" name="radioGender" th:field="*{gender}" th:text="${item.key}" th:value="${item.value}" />
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="info col-sm-2">プロフィール画像</th>
								<td class="col-sm-8">
									<div class="form-group">
										<input id="userImage" type="file" />
									</div>
								</td>
							</tr>
						</table>
						<button class="btn btn-primary" type="submit" name="update">更新</button>
						<button class="btn btn-danger pull-right" type="submit" name="delete">削除</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>